<div class="app app-header-fixed" id="app">
    <div class="market">
        <p class="agent_title">渠道代理</p>
        <p class="agent_little_title">分店是侯斯特的渠道合作模式。通过分店你可以自由配置域名、视觉样式及功能定价</p>
        <div class="agent_img">
          <img src="images/agent.png" alt=".">
        </div>

        <div class="agent_all">
          <div class="market_image">
            <img src="images/a@3x.png" alt=".">
          </div>
          <div class="market_txt1">
            <div class="agent_i"></div>
            <p style="font-size:1.8rem;">选择公有云分店</p>
            <hr class="agent_hr">
            <p>
              直接部署在侯斯特的服务器。启动门槛低，合作方式灵活，采购功能会有相应折扣，适合代理类客户。<br><br>

              · 无软件使用费<br>
              · 平台上公众号按需支付费用<br>
              · 需要缴纳预存费用，供账单扣款使用<br>
              · 预存费用消耗完毕，使用期限到期<br>
              · 无需承担任何硬件费用<br>
            </p>
          </div>
        </div>

        <div class="market_all">
          <div class="market_txt" style="float: left;">
            <div class="agent_i2"></div>
            <p style="font-size:1.8rem;">选择私有云分店</p>
            <hr class="agent_hr">
            <p>
              将侯斯特部署到自己的服务器。专属性更强，数据更安全，长期使用成本更划算，适合品牌类客户。<br><br>

              · 支付软件使用费<br>
              · 平台上公众号无需支付费用<br>
              · 无需缴纳预存费用<br>
              · 授权自开通后一年有效<br>
              · 需额外支付硬件费用，侯斯特负责部署<br>
            </p>
          </div>
          <div class="market_image1">
            <img src="images/b@3x.png" alt=".">
          </div>
        </div>

    </div>
  </div>
