<div class="app app-header-fixed" id="app">
    <div class="market">
        <p class="agent_title">服务价格</p>
        <p class="market_little_title">侯斯特提供给您多种价格合理、多样弹性的服务</p>
        <div class="pricing_all">
            <div class="pricing_div">
                <div>
                    <img src="images/1@3x (2).png" alt=".">
                </div>
                <p class="pricing_p1">免费使用SAAS平台</p>
                <p class="pricing_p2">任何公众号都可以授权给侯斯特，</p>
                <p class="pricing_p2">享受大量创新的基础功能</p>
                <p class="pricing_p3">入驻平台 ></p>
            </div>
            <div class="pricing_div">
                <div>
                    <img src="images/1@3x (2).png" alt=".">
                </div>
                <p class="pricing_p1">免费使用SAAS平台</p>
                <p class="pricing_p2">任何公众号都可以授权给侯斯特，</p>
                <p class="pricing_p2">享受大量创新的基础功能</p>
                <p class="pricing_p3">入驻平台 ></p>
            </div>
            <div class="pricing_div">
                <div>
                    <img src="images/1@3x (2).png" alt=".">
                </div>
                <p class="pricing_p1">免费使用SAAS平台</p>
                <p class="pricing_p2">任何公众号都可以授权给侯斯特，</p>
                <p class="pricing_p2">享受大量创新的基础功能</p>
                <p class="pricing_p3">入驻平台 ></p>
            </div>
            <div class="pricing_div">
                <div>
                    <img src="images/1@3x (2).png" alt=".">
                </div>
                <p class="pricing_p1">免费使用SAAS平台</p>
                <p class="pricing_p2">任何公众号都可以授权给侯斯特，</p>
                <p class="pricing_p2">享受大量创新的基础功能</p>
                <p class="pricing_p3">入驻平台 ></p>
            </div>
            <div class="pricing_div">
                <div>
                    <img src="images/1@3x (2).png" alt=".">
                </div>
                <p class="pricing_p1">免费使用SAAS平台</p>
                <p class="pricing_p2">任何公众号都可以授权给侯斯特，</p>
                <p class="pricing_p2">享受大量创新的基础功能</p>
                <p class="pricing_p3">入驻平台 ></p>
            </div>
            <div class="pricing_div">
                <div>
                    <img src="images/1@3x (2).png" alt=".">
                </div>
                <p class="pricing_p1">免费使用SAAS平台</p>
                <p class="pricing_p2">任何公众号都可以授权给侯斯特，</p>
                <p class="pricing_p2">享受大量创新的基础功能</p>
                <p class="pricing_p3">入驻平台 ></p>
            </div>
        </div>
    </div>
    <div style="width:100%; background-color:#F5F5F5;">
        <p class="pricing_title">VIP价格</p>
        <p class="pricing_little_title">购买VIP，以最优惠的价格享用最强大的功能</p>
        <div class="pring_table">

            <table class="table table-bordered">
                <tr>
                    <td>应用商店内应用 </td><td>按需付费</td><td>对</td><td>对</td><td>对</td><td>对</td>
                </tr>
                <tr>
                    <td>应用商店内应用 </td><td>按需付费</td><td>对</td><td>对</td><td>对</td><td>对</td>
                </tr>
                <tr>
                    <td>应用商店内应用 </td><td>按需付费</td><td>对</td><td>对</td><td>对</td><td>对</td>
                </tr>
                <tr>
                    <td>应用商店内应用 </td><td>按需付费</td><td>对</td><td>对</td><td>对</td><td>对</td>
                </tr>
                <tr>
                    <td>应用商店内应用 </td><td>按需付费</td><td>对</td><td>对</td><td>对</td><td>对</td>
                </tr>
                <tr>
                    <td>应用商店内应用 </td><td>按需付费</td><td>对</td><td>对</td><td>对</td><td>对</td>
                </tr>
                <tr>
                    <td>应用商店内应用 </td><td>按需付费</td><td>对</td><td>对</td><td>对</td><td>对</td>
                </tr>
                <tr>
                    <td>应用商店内应用 </td><td>按需付费</td><td>对</td><td>对</td><td>对</td><td>对</td>
                </tr>
                <tr>
                    <td>应用商店内应用 </td><td>按需付费</td><td>对</td><td>对</td><td>对</td><td>对</td>
                </tr>
                <tr>
                    <td>应用商店内应用 </td><td>按需付费</td><td>对</td><td>对</td><td>对</td><td>对</td>
                </tr>
                <tr>
                    <td>应用商店内应用 </td><td>按需付费</td><td>对</td><td>对</td><td>对</td><td>对</td>
                </tr>
                <tr>
                    <td>应用商店内应用 </td><td>按需付费</td><td>对</td><td>对</td><td>对</td><td>对</td>
                </tr>
                <tr>
                    <td>应用商店内应用 </td><td>按需付费</td><td>对</td><td>对</td><td>对</td><td>对</td>
                </tr>
                <tr>
                    <td>应用商店内应用 </td><td>按需付费</td><td>对</td><td>对</td><td>对</td><td>对</td>
                </tr>
                <tr>
                    <td>应用商店内应用 </td><td>按需付费</td><td>对</td><td>对</td><td>对</td><td>对</td>
                </tr>
                <tr>
                    <td>应用商店内应用 </td><td>按需付费</td><td>对</td><td>对</td><td>对</td><td>对</td>
                </tr>
                <tr>
                    <td>应用商店内应用 </td><td>按需付费</td><td>对</td><td>对</td><td>对</td><td>对</td>
                </tr>
                <tr>
                    <td>应用商店内应用 </td><td>按需付费</td><td>对</td><td>对</td><td>对</td><td>对</td>
                </tr>
            </table>
        </div>

        <div style="background-color:#ffffff;height:15rem;">
            <button type="button">立即使用</button>

        </div>
    </div>
</div>
